h1 {
    color:white;
    background-color:black;
    padding:10px;
    width:100%;
}
body {
    background-image:url(http://4.bp.blogspot.com/-sufhquaabnI/UatAgfzO-3I/AAAAAAAACkc/50UcCnV2bVU/s1600/lamborghini+tron+supercars+lamborghini+aventador+neon+light+1920x1200+wallpaper_www.wallpaperfo.com_47.jpg);
    top:-100px;
}